header {
    width: 80%;
    margin: 0 auto;
    background: #EEE;
}

header nav ul {
    padding: 0;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: block;
    padding: 5px 10px;
}
/* le span qui contien les li logout et la seesion faut les
mettre a droite */
.login
{
    float: right;
}